:root{
    /*--rgbBase: 0, 146, 80;/* Deep Green */
    /* Comment out sample colors */
    /*--rgbBase: 34, 85, 136;/* Blue */
    /*--rgbBase: 62, 186, 43;/* Lime Green */
    --rgbBase: 218, 80, 25;/* Orange */
    --rgbBaseFont: 50, 50, 50;
    --rgbHeaderFont: 255, 255, 255;
    --rgbRow: 255, 255, 255;
}

.TimeTable{
    border-spacing: 0;
    cursor: default;
    font-size: 14px;
    white-space: nowrap;
    width: auto;
}

.TimeTable th{
    background: rgba(var(--rgbBase), 1);
    background: -moz-linear-gradient(rgba(var(--rgbBase), 0.7), rgba(var(--rgbBase), 0.9) 50%);
    background: -webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(var(--rgbBase), 0.7)), to(rgba(var(--rgbBase), 0.9)));
    border-bottom: 1px solid rgba(var(--rgbBase), 1);
    border-left: 1px solid rgba(var(--rgbBase), 1);
    border-top: 1px solid rgba(var(--rgbBase), 1);
    color: rgba(var(--rgbHeaderFont), 1);
    font-weight: bold;
    line-height: 1.2;
    padding: 8px 15px;
    text-align: center;
}

.TimeTable th:last-child{
    border-right: 1px solid rgba(var(--rgbBase), 1);
}
.TimeTable td:last-child{
    border-right: 1px solid rgba(var(--rgbBase), 0.5);
}

.TimeTable tr td{
    border-bottom: 1px solid rgba(var(--rgbBase), 0.5);
    border-left: 1px solid rgba(var(--rgbBase), 0.5);
    height: 30px;
}

.TimeTable__row{
    background: rgba(var(--rgbRow), 1);
    color: rgba(var(--rgbBaseFont), 1);
    max-width: 200px;
    text-align: center;
}
.TimeTable__row:nth-child(2n+1){
    background: rgba(var(--rgbBase), 0.1);
}
.TimeTable__row:hover{
    background: rgba(var(--rgbBase), 0.3);
}

.TimeTable__worktime{
    text-align: center;
}

.timeTableSelectbox{
    background-color: inherit;
    border: none;
    color: rgba(var(--rgbBaseFont), 1);
    height: 100%;
}

.timeTableToolTip{
    background: rgba(var(--rgbBase), 1);
    border-radius: 8px;
    color: rgba(var(--rgbHeaderFont), 1);
    padding: 4px 8px;
    position: absolute;
    z-index: 9999;
}

.timeTableToolTip:after{
    border-left: 8px solid rgba(var(--rgbBase), 1);
    border-top: 8px solid transparent;
    content: "";
    display: block;
    left: 8px;
    position: absolute;
    top: -8px;
    width: 100%;
}

.toolTipDelete{
    background-color: rgba(var(--rgbBase), 1);
    background: rgba(var(--rgbBase), 1);
    border: none;
    color: rgba(var(--rgbHeaderFont), 1);
    float: right;
    font-size: 15px;
    position: relative;
}

.toolTipDelete:active{
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.toolTipDelete:focus{
    outline: none;
}
