:root{
    --rgbTheme:19,113,71;
    --rgbFont: 50, 50, 50;
    --rgbHeaderFont: 255, 255, 255;
    --rgbRow: 255, 255, 255;
}

.TimeTable{
    border-spacing: 0;
    cursor: default;
    font-size: 13px;
    white-space: nowrap;
    width: 100%;
}
.TimeTable--bootstrap{
    position: relative;
}

.TimeTable th{
    background: rgba(var(--rgbTheme), 1);
    background: -moz-linear-gradient(rgba(var(--rgbTheme), 0.7), rgba(var(--rgbTheme), 0.9) 50%);
    background: -webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(var(--rgbTheme), 0.7)), to(rgba(var(--rgbTheme), 0.9)));
    border-bottom: 1px solid rgba(var(--rgbTheme), 1);
    border-left: 1px solid rgba(var(--rgbTheme), 1);
    border-top: 1px solid rgba(var(--rgbTheme), 1);
    color: rgba(var(--rgbHeaderFont), 1);
    font-weight: bold;
    line-height: 1.2;
    padding: 8px 0;
    text-align: center;
}

.TimeTable th:last-child{
    border-right: 1px solid rgba(var(--rgbTheme), 1);
}
.TimeTable td:last-child{
    border-right: 1px solid rgba(var(--rgbTheme), 0.5);
}

.TimeTable tr td{
    border-bottom: 1px solid rgba(var(--rgbTheme), 0.5);
    border-left: 1px solid rgba(var(--rgbTheme), 0.5);
    height: 30px;
}

.TimeTable__row{
    background: rgba(var(--rgbRow), 1);
    color: rgba(var(--rgbBaseFont), 1);
    padding: 0 0 0 20px;
    text-align: center;
}
.TimeTable__name{
    width: 200px;
    padding: 0 20px;
    position: relative;
    text-align: left;
}
.TimeTable__row:nth-child(2n+1){
    background: rgba(var(--rgbTheme), 0.1);
}
.TimeTable__row:hover{
    background: rgba(var(--rgbTheme), 0.3);
}

.TimeTable__worktime{
    text-align: center;
}

.timeTableSelectbox{
    background: inherit;
    border: none;
    color: rgba(var(--rgbBaseFont), 1);
    cursor: pointer;
    height: 100%;
    outline: none;
}

.timeTableToolTip{
    background: rgba(var(--rgbTheme), 1);
    border-radius: 8px;
    color: rgba(var(--rgbHeaderFont), 1);
    padding: 4px 10px;
    font-size: 15px;
    vertical-align: bottom;
    line-height: 18px;
    position: absolute;
    z-index: 9999;
}

.timeTableToolTip:after{
    border-left: 8px solid rgba(var(--rgbTheme), 1);
    border-top: 8px solid transparent;
    content: "";
    display: block;
    left: 8px;
    position: absolute;
    top: -8px;
    width: 100%;
}

.toolTipDelete{
    background: rgba(var(--rgbTheme), 1);
    border: none;
    color: rgba(var(--rgbHeaderFont), 1);
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 18px;
    vertical-align: top;
    position: relative;
}

.toolTipDelete:active{
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.toolTipDelete:focus{
    outline: none;
}

.deleteRow{
    background: rgba(var(--rgbTheme), 0);
    border: none;
    color: rgba(var(--rgbFont), 1);
    cursor: pointer;
    font-size: 15px;
    height: 20px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.barCanvas{
    cursor: pointer;
}
.deleteRow:active{
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
