// layout of stable cell
.tt-name{
  width: $nameWidth;
}
.tt-subtotal{
  width: $subTotalWidth;
}
.tt-row > div{
  height: $rowHeight;
}
// layout of table
.timetable{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  // border for whole table
  @include border;
  .tt-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    // horizontal border
    &:not(:first-child){
      @include border(top);
    }
    // vertical border
    &>div{
      &:not(:first-child){
        @include border(left);
      }
      &:not(.tt-name):not(.tt-subtotal){
        flex:1;
      }
    }
  }
}

// layout of color
.tt-row{
  &:first-child{
    background: $headerColor;
  }
  &:not(:first-child){
    &:nth-child(2n + 1){
      background: $evenRowColor;
    }
  }
}

// layout of cell
.tt-cell{
  display: flex;
  flex-direction: row;
  &>div{
    flex: 1;
    display: flex;
    flex-direction: column;
    &:not(:first-child){
      @include border(left);
    }
    &>div{
      flex: 1;
    }
  }
}


// layout of text
.tt-row{
  font-size: $fontSize;
  line-height: $rowHeight;
  overflow:hidden;
  text-align: center;
  text-overflow: ellipsis;
  &:first-child > div{
    color: $headerFontColor;
  }
  &:not(:first-child) > div{
    color: $bodyFontColor;
  }
}
