// hide in mobile
.tt-header{
  display: none;
}
.tt-name{
  ~ *:not(.tt-time){
    display: none;
  }
}

// layout of table
.timetable{
  display:flex;
  flex-direction: column;
  .tt-data{
    display: flex;
    flex: 1;
    flex-direction: column;
    .tt-name{
      flex: 1;
    }
  }
  .tt-row{
    @include border;
    border-radius: 3px;
    &:not(:nth-child(2)){
      margin-top: 5px;
    }
  }
}

// layout of color
.tt-name {
  background: $headerColor;
  &:not(:first-child) {
    &:nth-child(2n + 1) {
      background: $evenRowColor;
    }
  }
}

// lauout of text
.tt-row{
  font-size: $fontSize * 1.3;
  line-height: $rowHeight * 1.3;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.tt-name{
  color: $headerFontColor;
}
.tt-time{
  color: $bodyFontColor;
}